#playerDetails { width: 200px; }
#playerDetails div { float: right; font-style: italic; color: red; }

#characterDetails { width: 200px;}
#characterDetails div { float: right;  font-style: italic; color: red; }

.title { font-weight: bold; }
.action { color: blue; }
.combine { color: blue; }

#body { color: brown; }
#inventory { color: darkblue; }
#environ { color: darkgreen; }

#exits { color: brown; }
